<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace等于mapper接口类的全限定符,这样实现对应 -->
<mapper namespace="com.lottery.infrastructure.dao.IAwardDao">

    <select id="queryAwardInfo" parameterType="string" resultType="com.lottery.infrastructure.po.Award">
        select
            id, awardId, awardType, awardCount, awardName, awardContent, createTime, updateTime
        from
            award
        where
            awardId = #{awardId}
    </select>
</mapper>