<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace等于mapper接口类的全限定符,这样实现对应 -->
<mapper namespace="com.lottery.infrastructure.dao.IStrategyDao">

    <resultMap id="strategyMap" type="com.lottery.infrastructure.po.Strategy">
        <id column="id" property="id"/>
        <result column="strategy_id" property="strategyId"/>
        <result column="strategy_desc" property="strategyDesc"/>
        <result column="strategy_mode" property="strategyMode"/>
        <result column="grant_type" property="grantType"/>
        <result column="grant_date" property="grantDate"/>
        <result column="ext_info" property="extInfo"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="queryStrategy" parameterType="long" resultMap="strategyMap">
        select
            id, strategy_id, strategy_desc, strategy_mode, grant_type,
            grant_date, ext_info, create_time, update_time
        from
            strategy
        where
            strategy_id = #{strategyId}
    </select>

    <insert id="insert" parameterType="com.lottery.infrastructure.po.Strategy">
        insert into
            strategy(strategy_id, strategy_desc, strategy_mode, grant_type,
            grant_date, ext_info, create_time, update_time)
        values
            (#{strategyId}, #{strategyDesc}, #{strategyMode}, #{grantType},
             #{grantDate}, #{extInfo}, NOW(), NOW())
    </insert>

</mapper>