<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace等于mapper接口类的全限定符,这样实现对应 -->
<mapper namespace="com.lottery.infrastructure.dao.IStrategyDetailDao">

    <resultMap id="strategyDetailMap" type="com.lottery.infrastructure.po.StrategyDetail">
        <id column="id" property="id"/>
        <result column="strategy_id" property="strategyId"/>
        <result column="award_id" property="awardId"/>
        <result column="award_name" property="awardName"/>
        <result column="award_count" property="awardCount"/>
        <result column="award_surplus_count" property="awardSurplusCount"/>
        <result column="award_rate" property="awardRate"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="queryStrategyDetailList" parameterType="long" resultMap="strategyDetailMap">
        select
            id, strategy_id, award_id, award_count, award_surplus_count,
            award_rate, create_time, update_time
        from
            strategy_detail
        where
            strategy_id = #{strategyId}
    </select>

    <select id="queryNoStockStrategyAwardList" parameterType="long" resultType="string">
        select
            award_id
        from
            strategy_detail
        where
            strategy_id = #{strategyId} and award_surplus_count = 0
    </select>

    <update id="deductStock" parameterType="com.lottery.infrastructure.po.StrategyDetail">
        update
            strategy_detail
        set
            award_surplus_count = award_surplus_count - 1
        where
            award_surplus_count > 0
            and strategy_id = #{strategyId}
            and award_id = #{awardId}
    </update>

    <insert id="insertList" parameterType="com.lottery.infrastructure.po.StrategyDetail">
        insert into
            strategy_detail(strategy_id, award_id, award_name, award_count, award_surplus_count,
                            award_rate, create_time, update_time)
        values
            <foreach collection="strategyDetailList" item="strategyDetail" index="index" separator=",">
                (
                #{strategyDetail.strategyId},
                #{strategyDetail.awardId},
                #{strategyDetail.awardName},
                #{strategyDetail.awardCount},
                #{strategyDetail.awardSurplusCount},
                #{strategyDetail.awardRate},
                NOW(),
                NOW()
                )
            </foreach>

    </insert>
</mapper>